java/target
java/.idea
java/*.iml
java/nbproject/
angular/node_modules/
angular/dist/
angular/.idea
angular/*.iml
angular/.vscode
angular/.editorconfig
angular/src/environments/timestamp.ts
angular/coverage/

/target
/java/nbactions-ambiente-local.xml
/java/nb-configuration.xml
/java/nbactions-sonar.xml
/.idea

.vscode/
.classpath
.project
.settings/
angular/src/app/components/usuarios/acesso-auditor/acesso-auditor.component.spec copy.ts
angular/yarn.lock